#painel_head {
    background-color: #0070ba;
    color: #f0f0f0;
}

#painel_req {
    background-color: #0070ba;
    color: #f0f0f0;
}

#painel_sol {
    background-color: #0070ba;
    color: #f0f0f0;
}

#painel_mat {
    background-color: #0070ba;
    color: #f0f0f0;
}